{% if current_tags == blank %}
{% assign has_refined = false %}
{% else %}
{% assign has_refined = true %} 
{% endif %}


{% if section.settings.display_sidebar or settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}


<div class="sidebar">
  <a href="javascript:void(0)" title="{{ 'cart.general.close_cart' | t }}" class="close-sidebar close">
    {% include 'icon-close' %}    
  </a>

  <div class="sidebar-filter" data-has-collapse>
    <div id="bc-sf-filter-tree">{% include 'bc-sf-filter-tree-placeholder' %}</div>        
  </div>

  {% if section.settings.enable_product %}
  <div class="widget sidebar-widget-product" data-sidebar-product>
    {% if section.settings.title_product != blank %}
    <div class="widget-title">   
      <h3 class="sidebar-title">
        {% include 'multilang' with section.settings.title_product %}
      </h3>
    </div>
    {% endif %}

    {% if section.settings.collection == blank %}
    <div class="widget-product">
      <div class="grid-item {{ grid_item_width }}">
        <div class="grid-view-item no-product">
          <div class="product-top">
            <div class="not_img">
              Product Img
            </div>
          </div>

          <div class="product-bottom">
            <div class="product-title">
              <span>
                Your product's name
              </span>
            </div>

            <div class="price-box">
              <span> $250.00 </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <div class="widget-product">
      <div class="products-grid row">
        {% for product in collections[section.settings.collection].products limit:section.settings.limit %}
        <div class="grid-item col-12{% if settings.product_image_border %} grid-item-border{% endif %} ">
          {% include 'sidebar-product-grid' %}
        </div>
        {% endfor %}
      </div> 
    </div>
    {% endif %}
  </div>
  {% endif %}

  {% if section.settings.enable_img_1 %}
  <div class="widget sidebar-banner">
    {% if section.settings.image_img_1 != blank %}
    {%- assign img_url = section.settings.image_img_1 | img_url: 'original', crop: 'center' -%}

    {% if section.settings.link_img_1 != blank %}
    <a class="animate-scale" href="{{ section.settings.link_img_1 }}">
      {% endif %}
      <img data-src="{{ img_url }}"
           src="{{ img_url }}" alt="{{ section.settings.image_img_1.alt | default: shop.name }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
      {% if section.settings.link_img_1 != blank %}
    </a>
    {% endif %}

    {% else %}
    <div class="not_img">
      210 x 165px
    </div>
    {% endif %}
  </div>
  {% endif %}

  {% if section.settings.enable_img_2 %}
  <div class="widget sidebar-banner">
    {% if section.settings.image_img_2 != blank %}
    {%- assign img_url = section.settings.image_img_2 | img_url: 'original', crop: 'center' -%}

    {% if section.settings.link_img_2 != blank %}
    <a class="animate-scale" href="{{ section.settings.link_img_2 }}">
      {% endif %}
      <img data-src="{{ img_url }}"
           src="{{ img_url }}" alt="{{ section.settings.image_img_2.alt | default: shop.name }}"
           class="lazyautosizes lazyloaded" data-sizes="auto">
      {% if section.settings.link_img_2 != blank %}
    </a>
    {% endif %}

    {% else %}
    <div class="not_img">
      210 x 165px
    </div>
    {% endif %}
  </div>
  {% endif %}

  {% if section.settings.enable_custom_block %} 
  <div class="widget sidebar-cms-custom">
    {% if section.settings.title_custom_block != blank %}
    <div class="widget-title">   
      <h3 class="sidebar-title">
        {% include 'multilang' with section.settings.title_custom_block | escape  %}
      </h3>
    </div>
    {% endif %}

    <div class="widget-content">
      {% if section.settings.quote_custom_block != blank %}
      {% if settings.enable_multilang and section.settings.quote_custom_block contains '|' %}
      <div class="rte-setting lang1">
        {{ section.settings.quote_custom_block | split: '|' | first }}
      </div>
      <div class="rte-setting lang2">
        {{ section.settings.quote_custom_block | split: '|' | last }}
      </div>
      {% else %}
      <div class="rte-setting">
        {{ section.settings.quote_custom_block | split: '|' | first }}
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>  
  {% endif %}

</div>
{% endif %}

<style> 
  @media (max-width: 1199px) {  
    {% unless settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
    {% unless section.settings.display_sidebar %}
    .halo-collection-content .sidebar-label {
      display: none !important;
    }
    {% endunless %}
    {% endunless %}
  }

  @media (min-width: 1200px) { 
    {% unless settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}
    {% if section.settings.display_sidebar or settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
    .halo-collection-content .products-grid .col5 .sizes-list {
      margin-bottom: 8px;
    }

    .halo-collection-content .products-grid .col5 .sizes-list li a {
      min-width: 23px;
      padding: 1px 5px 0px;
      font-size: 10px;
    }

    .halo-collection-content .products-grid .col5 .item-swatch label,
    .halo-collection-content .products-grid .col5 .item-swatch a {
      width: 23px;
      height: 23px;
      line-height: 23px;
    }

    .halo-collection-content .products-grid .grid-item-mansory.col5 .countdown-grid-item>span {
      display: none;
    }
    {% endif %}
    {% endunless %}

    {% unless settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
    {% unless section.settings.display_sidebar %}
    .halo-collection-content .col-main {
      width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }  

    {% else %}

    {% if section.settings.show_sidebar == 'right' %}
    .halo-collection-content > .row {
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    {% endif %}
    {% endunless %}

    {% else %}
    .halo-collection-content > .row {
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    {% endunless %}
  } 

  {% if section.settings.display_sidebar %}
  {% if settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}
  @media (min-width: 1200px) and (max-width: 1449px) {
    .halo-collection-content .products-grid .col5 .sizes-list {
      margin-bottom: 8px;
    }

    .halo-collection-content .products-grid .col5 .sizes-list li a {
      min-width: 23px;
      padding: 1px 5px 0px;
      font-size: 10px;
    }

    .halo-collection-content .products-grid .col5 .item-swatch label,
    .halo-collection-content .products-grid .col5 .item-swatch a {
      width: 23px;
      height: 23px;
      line-height: 23px;
    }
  }

  @media (min-width: 1350px) {
    .collection-template-fullwidth .toolbar .column-left {
      width: 49.5%;
      padding-right: 30px;
      padding-left: 30px;
    }

    .collection-template-fullwidth .toolbar .filters-toolbar__view-as {
      -webkit-box-pack: flex-end;
      -moz-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
    }
  }
  {% endif %}
  {% endif %}
</style>
{% schema %}

    {
        "name": "Sidebar",
        "class": "col-12 col-xl-3 col-sidebar",
        "max_blocks": 20,
        "settings": [
            {
                "type": "checkbox",
                "id": "display_sidebar",
                "label": "Enable Sidebar",
                "default": true
            },
            {
                "type": "select",
                "id": "show_sidebar",
                "label": "Show Sidebar on:",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }          
                ],
                "default": "left",
                "info": "Default: Left"
            },

            {
                "type": "header",
                "content": "Categories"
            },
            {
                "type": "checkbox",
                "id": "enable_categories",
                "label": "Enable",
                "default": true
            },
            {
                "type": "text",
                "id": "title_categories",
                "label": "Title"
            },
            {
                "type": "radio",
                "id": "style_categories",
                "label": "Show all \/ Only a few categories",
                "options": [
                    {
                        "value": "style_show_all",
                        "label": "Show all"
                    },
                    {
                        "value": "style_main_menu",
                        "label": "Get Categories From Main Menu"
                    },
                    {
                        "value": "style_little",
                        "label": "Only a few categories"
                    }                    
                ]
            },
            {
                "type": "link_list",
                "id": "link_list",
                "label": "Choose a menu",
                "default": "main-menu"
            },
            {
                "type": "header",
                "content": "Product Slider"
            },
            {
                "type": "checkbox",
                "id": "enable_product",
                "label": "Enable",
                "default": true
            },
            {
                "type": "text",
                "id": "title_product",
                "label": "Title"
            },
            {
                "id": "collection",
                "type": "collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "limit",
                "label": "Number of products to show",
                "default": "8"
            },       
            {
                "type": "header",
                "content": "Block Image 1"
            },
            {
                "type": "checkbox",
                "id": "enable_img_1",
                "label": "Enable",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "image_img_1",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "link_img_1",
                "label": "Link Image",
                "info": "Optional"
            },

            {
                "type": "header",
                "content": "Block Image 2"
            },
            {
                "type": "checkbox",
                "id": "enable_img_2",
                "label": "Enable",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "image_img_2",
                "label": "Image"
            },
            {
                "type": "url",
                "id": "link_img_2",
                "label": "Link Image",
                "info": "Optional"
            },
            {
                "type": "header",
                "content": "Custom Block"
            },
            {
                "type": "checkbox",
                "id": "enable_custom_block",
                "label": "Enable",
                "default": true
            },
            {
                "type": "text",
                "id": "title_custom_block",
                "label": "Heading",
                "default": "Custom Block"
            },
            {
                "type": "textarea",
                "id": "quote_custom_block",
                "label": "Text",
                "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
            }	  
        ],
        "blocks": [
            {
                "type": "filter_color",
                "name": "Filter Color",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "enable",
                        "label": "Enable",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Filter Title"
                    },
                    {
                        "type": "text",
                        "id": "color_text_1",
                        "label": "Color text 1",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_1",
                        "label": "Color image 1"
                    },
                    {
                        "type": "text",
                        "id": "color_text_2",
                        "label": "Color text 2",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_2",
                        "label": "Color image 2"
                    },
                    {
                        "type": "text",
                        "id": "color_text_3",
                        "label": "Color text 3",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_3",
                        "label": "Color image 3"
                    },
                    {
                        "type": "text",
                        "id": "color_text_4",
                        "label": "Color text 4",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_4",
                        "label": "Color image 4"
                    },
                    {
                        "type": "text",
                        "id": "color_text_5",
                        "label": "Color text 5",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_5",
                        "label": "Color image 5"
                    },
                    {
                        "type": "text",
                        "id": "color_text_6",
                        "label": "Color text 6",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_6",
                        "label": "Color image 6"
                    },
                    {
                        "type": "text",
                        "id": "color_text_7",
                        "label": "Color text 7",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_7",
                        "label": "Color image 7"
                    },
                    {
                        "type": "text",
                        "id": "color_text_8",
                        "label": "Color text 8",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_8",
                        "label": "Color image 8"
                    },
                    {
                        "type": "text",
                        "id": "color_text_9",
                        "label": "Color text 9",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_9",
                        "label": "Color image 9"
                    },
                    {
                        "type": "text",
                        "id": "color_text_10",
                        "label": "Color text 10",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_10",
                        "label": "Color image 10"
                    },
                    {
                        "type": "text",
                        "id": "color_text_11",
                        "label": "Color text 11",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_11",
                        "label": "Color image 11"
                    },
                    {
                        "type": "text",
                        "id": "color_text_12",
                        "label": "Color text 12",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_12",
                        "label": "Color image 12"
                    },
                    {
                        "type": "text",
                        "id": "color_text_13",
                        "label": "Color text 13",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_13",
                        "label": "Color image 13"
                    },
                    {
                        "type": "text",
                        "id": "color_text_14",
                        "label": "Color text 14",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_14",
                        "label": "Color image 14"
                    },
                    {
                        "type": "text",
                        "id": "color_text_15",
                        "label": "Color text 15",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_15",
                        "label": "Color image 15"
                    },
                    {
                        "type": "text",
                        "id": "color_text_16",
                        "label": "Color text 16",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_16",
                        "label": "Color image 16"
                    },
                    {
                        "type": "text",
                        "id": "color_text_17",
                        "label": "Color text 17",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_17",
                        "label": "Color image 17"
                    },
                    {
                        "type": "text",
                        "id": "color_text_18",
                        "label": "Color text 18",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_18",
                        "label": "Color image 18"
                    },
                    {
                        "type": "text",
                        "id": "color_text_19",
                        "label": "Color text 19",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_19",
                        "label": "Color image 19"
                    },
                    {
                        "type": "text",
                        "id": "color_text_20",
                        "label": "Color text 20",
                        "info": "i.e \"Red\"."
                    },
                    {
                        "type": "image_picker",
                        "id": "color_img_20",
                        "label": "Color image 20"
                    }
                ]
            },
            {
                "type": "filter_text",
                "name": "Filter Text",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "enable",
                        "label": "Enable",
                        "default": true
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Filter Title"
                    },
                    {
                        "type": "textarea",
                        "id": "list_tags",
                        "label": "List Tags",
                        "info": "Separate by a comma, i.e \"Dincidunteros, Nectellus, Solutmades\"."
                    }
                ]
            }                      
        ]
    }
{% endschema %}

<style> 
    @media (max-width: 1199px) {  
        {% unless settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
        {% unless section.settings.display_sidebar %}
        .halo-collection-content .sidebar-label {
            display: none !important;
        }
        {% endunless %}
        {% endunless %}
    }
  
    @media (min-width: 1200px) { 
        {% unless settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}
        {% if section.settings.display_sidebar or settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
        .halo-collection-content .products-grid .col5 .sizes-list {
            margin-bottom: 8px;
        }

        .halo-collection-content .products-grid .col5 .sizes-list li a {
            min-width: 23px;
            padding: 1px 5px 0px;
            font-size: 10px;
        }

        .halo-collection-content .products-grid .col5 .item-swatch label,
        .halo-collection-content .products-grid .col5 .item-swatch a {
            width: 23px;
            height: 23px;
            line-height: 23px;
        }
        
        .halo-collection-content .products-grid .grid-item-mansory.col5 .countdown-grid-item>span {
            display: none;
        }
        {% endif %}
        {% endunless %}
        
        {% unless settings.category_layout == "right_sidebar" or template.suffix == 'right-sidebar' %}
        {% unless section.settings.display_sidebar %}
        .halo-collection-content .col-main {
            width: 100%;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }  
        
        {% else %}
        
        {% if section.settings.show_sidebar == 'right' %}
        .halo-collection-content > .row {
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }
        {% endif %}
        {% endunless %}
        
        {% else %}
        .halo-collection-content > .row {
            -webkit-flex-direction: row-reverse;
            -moz-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }
        {% endunless %}
    } 
  
  {% if section.settings.display_sidebar %}
  {% if settings.category_layout == "full_with" or template.suffix == 'fullwidth' %}
    @media (min-width: 1200px) and (max-width: 1449px) {
        .halo-collection-content .products-grid .col5 .sizes-list {
            margin-bottom: 8px;
        }

        .halo-collection-content .products-grid .col5 .sizes-list li a {
            min-width: 23px;
            padding: 1px 5px 0px;
            font-size: 10px;
        }

        .halo-collection-content .products-grid .col5 .item-swatch label,
        .halo-collection-content .products-grid .col5 .item-swatch a {
            width: 23px;
            height: 23px;
            line-height: 23px;
        }
    }
    
    @media (min-width: 1350px) {
        .collection-template-fullwidth .toolbar .column-left {
            width: 49.5%;
            padding-right: 30px;
            padding-left: 30px;
        }
        
        .collection-template-fullwidth .toolbar .filters-toolbar__view-as {
            -webkit-box-pack: flex-end;
            -moz-box-pack: flex-end;
            -ms-flex-pack: flex-end;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
        }
    }
  {% endif %}
  {% endif %}
</style>
